html {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
}
body {
  /*margin-bottom: 80px; /* Margin bottom by footer height */
}
.footerz {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 80px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer {
  background-color: #f5f5f5;
}

.tocnumber {
  display: none;
}

